.model-sample-trouser-img {
  height: 150px;
}
.model-sample-tshirt-img {
  height: 100px;
}

.model-area {
  /*background-color: white;*/
  background-image: url("../assets/modelresized.jpg");
  background-repeat: no-repeat;
  height: 600px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100px;*/
}
.model-img {
  width: 100%;
}
.model-area-shirt {
  position: absolute;
  height: 225px;
  top: 85px;
  left: 120px;
}
.model-area-trouser {
  position: absolute;
  height: 314px;
  top: 230px;
  left: 101px;
}
